### 1. Write a Pandas program to create
- a) Datetime object for Jan 15 2012.
- b) Specific date and time of 9:20 pm.
- c) Local date and time.
- d) A date without time.
- e) Current date.
- f) Time from a datetime.
- g) Current local time.

In [3]:
import pandas as pd
from datetime import datetime

In [4]:
print("Datetime object for Jan 15 2012:")
print(datetime(2012, 1, 15))

Datetime object for Jan 15 2012:
2012-01-15 00:00:00

In [5]:
print("Specific date and time of 9:20 pm") 
print(datetime(2011, 1, 11, 21, 20, 00))

Specific date and time of 9:20 pm
2011-01-11 21:20:00

In [6]:
print("Local date and time:")
print(datetime.now())

Local date and time:
2024-10-22 12:16:17.636837

In [7]:
print("date without time: ")
print(datetime.date(datetime(2012, 5, 22)))

date without time:
2012-05-22

In [8]:
print("Current date:")
print(datetime.now().date())

Current date:
2024-10-22

In [9]:
print("Time from a datetime:")
a = datetime.time(datetime(2012, 12, 15, 18, 12))
print(a)

Time from a datetime:
18:12:00

In [10]:
print("Current local time:") 
print(datetime.now().time())

Current local time:
12:16:17.663973

### 2. Write a Pandas program to create
- a) a specific date using timestamp.
- b) date and time using timestamp.
- c) a time adds in the current local date using timestamp.
- d) current date and time using timestamp.

In [12]:
a = pd.Timestamp("23 11 2024")
a

Timestamp('2024-11-23 00:00:00')

In [13]:
b = pd.Timestamp("23 11 2024 09:23 PM")
b

Timestamp('2024-11-23 21:23:00')

In [14]:
c = b + pd.Timedelta("23:00:00")
c

Timestamp('2024-11-24 20:23:00')

In [15]:
d = pd.Timestamp.now()
d

Timestamp('2024-10-22 12:16:17.719101')

### 3. Write a Pandas program to create a date from a given year, month, day and another date from a given string formats.

In [17]:
year = 2024
month = 12
day = 21
a = pd.Timestamp(year, month, day)
print(a)

2024-12-21 00:00:00

In [18]:
b = pd.Timestamp("Jan 23 2024")
print(b)

2024-01-23 00:00:00

### 4. Write a Pandas program to print the day after and before a specified date. Also print the days between two given dates.

In [20]:
a = pd.Timestamp('Jan 3 2024')
b = a - pd.Timedelta('1 day')
c = a + pd.Timedelta('1 day')
print("Day before specified date: ", b.day_name())
print("Day after specified date: ", c.day_name())

Day before specified date:  Tuesday
Day after specified date:  Thursday

In [21]:
x = pd.to_datetime("2024 jan 21").date() - pd.to_datetime("2024 jan 1").date()
print("Difference between two dates: ",x)

Difference between two dates:  20 days, 0:00:00

### 5. Write a Pandas program to create a time-series with two index labels and random values. Also print the type of the index.

In [23]:
import numpy as np
x = ["1 Jan 2024", "1 Feb 2024"]
dates =pd.to_datetime(x)
# dates = [pd.Timestamp(i) for i in x]
# dates=[pd.Timestamp('1 Jan 2024'), pd.Timestamp('1 Feb 2024')]
a=pd.Series(np.random.randn(2),dates)
a

2024-01-01   -0.017479
2024-02-01    0.508152
dtype: float64

### 6. Write a Pandas program to create a time-series from a given list of dates as strings.

In [25]:
x = ["1 Jan 2024", "1 Feb 2024", "2 Feb 2024", "5 Mar 2022"]
x = pd.to_datetime(x)
a = pd.Series(x)
a

0   2024-01-01
1   2024-02-01
2   2024-02-02
3   2022-03-05
dtype: datetime64[ns]

### 7. Write a Pandas program to create a time series object that has time indexed data. Also select the dates of same year and select the dates between certain dates.

In [27]:
x = pd.DatetimeIndex(['2024-09-02', '2024-08-04', '2015-09-03', '2024-08-04', '2015-03-03', '2022-08-04', '2024-04-03', '2012-08-04'])
a = pd.Series(np.random.randn(8), x)
print(a)

2024-09-02    1.004697
2024-08-04   -0.614976
2015-09-03    0.711210
2024-08-04    0.512394
2015-03-03    0.440437
2022-08-04   -0.385080
2024-04-03    0.475875
2012-08-04    0.827583
dtype: float64

In [28]:
print(a['2024'])

2024-09-02    1.004697
2024-08-04   -0.614976
2024-08-04    0.512394
2024-04-03    0.475875
dtype: float64

In [29]:
a.sort_index(inplace = True)
print(a['2012-01-01':'2012-12-31'])

2012-08-04    0.827583
dtype: float64

### 8. Write a Pandas program to create a date range using a startpoint date and a number of periods.

In [31]:
pd.date_range(start = "21 oct 2024", periods = 72, freq = "D")

DatetimeIndex(['2024-10-21', '2024-10-22', '2024-10-23', '2024-10-24',
               '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28',
               '2024-10-29', '2024-10-30', '2024-10-31', '2024-11-01',
               '2024-11-02', '2024-11-03', '2024-11-04', '2024-11-05',
               '2024-11-06', '2024-11-07', '2024-11-08', '2024-11-09',
               '2024-11-10', '2024-11-11', '2024-11-12', '2024-11-13',
               '2024-11-14', '2024-11-15', '2024-11-16', '2024-11-17',
               '2024-11-18', '2024-11-19', '2024-11-20', '2024-11-21',
               '2024-11-22', '2024-11-23', '2024-11-24', '2024-11-25',
               '2024-11-26', '2024-11-27', '2024-11-28', '2024-11-29',
               '2024-11-30', '2024-12-01', '2024-12-02', '2024-12-03',
               '2024-12-04', '2024-12-05', '2024-12-06', '2024-12-07',
               '2024-12-08', '2024-12-09', '2024-12-10', '2024-12-11',
               '2024-12-12', '2024-12-13', '2024-12-14', '2024-12-15',
               '2024-12-16', '2024-12-17', '2024-12-18', '2024-12-19',
               '2024-12-20', '2024-12-21', '2024-12-22', '2024-12-23',
               '2024-12-24', '2024-12-25', '2024-12-26', '2024-12-27',
               '2024-12-28', '2024-12-29', '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', freq='D')

### 9. Write a Pandas program to create a whole month of dates in daily frequencies. Also find the maximum, minimum timestamp and indexs.

In [33]:
dates = pd.Series(pd.date_range('2024-10-01',periods=31, freq='D'))
dates.max()

Timestamp('2024-10-31 00:00:00')

In [34]:
dates.min()

Timestamp('2024-10-01 00:00:00')

In [35]:
dates.idxmax()

30

In [36]:
dates.idxmin()

0

### 10. Write a Pandas program to create a time series using three months frequency.

In [38]:
dates = pd.Series(pd.date_range('2023-10-01', periods = 10, freq = "3ME"))

In [39]:
dates

0   2023-10-31
1   2024-01-31
2   2024-04-30
3   2024-07-31
4   2024-10-31
5   2025-01-31
6   2025-04-30
7   2025-07-31
8   2025-10-31
9   2026-01-31
dtype: datetime64[ns]

### 11. Write a Pandas program to create a sequence of durations increasing by an hour.

In [41]:
dates = pd.Series(pd.date_range("2024-10-21", periods = 24, freq = "h"))

In [42]:
dates

0    2024-10-21 00:00:00
1    2024-10-21 01:00:00
2    2024-10-21 02:00:00
3    2024-10-21 03:00:00
4    2024-10-21 04:00:00
5    2024-10-21 05:00:00
6    2024-10-21 06:00:00
7    2024-10-21 07:00:00
8    2024-10-21 08:00:00
9    2024-10-21 09:00:00
10   2024-10-21 10:00:00
11   2024-10-21 11:00:00
12   2024-10-21 12:00:00
13   2024-10-21 13:00:00
14   2024-10-21 14:00:00
15   2024-10-21 15:00:00
16   2024-10-21 16:00:00
17   2024-10-21 17:00:00
18   2024-10-21 18:00:00
19   2024-10-21 19:00:00
20   2024-10-21 20:00:00
21   2024-10-21 21:00:00
22   2024-10-21 22:00:00
23   2024-10-21 23:00:00
dtype: datetime64[ns]

### 12. Write a Pandas program to convert year and day of year into a single datetime column of a dataframe.

In [44]:
years=np.array(['2024','2024','2024'])
dayyu=[256, 200, 155]
year = pd.Series(pd.to_datetime(years))
days = pd.Series([pd.Timedelta(days = x) for x in dayyu])

year+days

### 13. Write a Pandas program to create a series of Timestamps from a DataFrame of integer or string columns. Also create a series of Timestamps using specified columns.

In [47]:
df = pd.DataFrame({'year' : [2022, 2023, 2024, 2024],
                   'month' : [10, 11, 4, 10],
                   'day' : [21, 30, 12, 2],
                   'hour' : [9, 8, 21, 17]
                  })

In [48]:
df

   year  month  day  hour
0  2022     10   21     9
1  2023     11   30     8
2  2024      4   12    21
3  2024     10    2    17

In [49]:
x = pd.to_datetime(df)

In [50]:
x

0   2022-10-21 09:00:00
1   2023-11-30 08:00:00
2   2024-04-12 21:00:00
3   2024-10-02 17:00:00
dtype: datetime64[ns]

### 14. Write a Pandas program to check if a day is a business day (weekday) or not.

In [52]:
s = pd.date_range('2021-01-01', periods=12, freq='D')

In [53]:
def is_weekday(date):
    return bool(len(pd.bdate_range(date, date)))

In [54]:
for i in s:
    print(f'({i} is weekday : {is_weekday(i.date())}')

(2021-01-01 00:00:00 is weekday : True
(2021-01-02 00:00:00 is weekday : False
(2021-01-03 00:00:00 is weekday : False
(2021-01-04 00:00:00 is weekday : True
(2021-01-05 00:00:00 is weekday : True
(2021-01-06 00:00:00 is weekday : True
(2021-01-07 00:00:00 is weekday : True
(2021-01-08 00:00:00 is weekday : True
(2021-01-09 00:00:00 is weekday : False
(2021-01-10 00:00:00 is weekday : False
(2021-01-11 00:00:00 is weekday : True
(2021-01-12 00:00:00 is weekday : True

### 15. Write a Pandas program to get a time series with the last working days of each month of a specific year.
- 'BME' used to get Business Month End frequency

In [56]:
s = pd.date_range('2021-01-01', periods=12, freq='BME')
pd.Series(s)

0    2021-01-29
1    2021-02-26
2    2021-03-31
3    2021-04-30
4    2021-05-31
5    2021-06-30
6    2021-07-30
7    2021-08-31
8    2021-09-30
9    2021-10-29
10   2021-11-30
11   2021-12-31
dtype: datetime64[ns]

### 16. Write a Pandas program to create a time series combining hour and minute.

In [58]:
ser = pd.timedelta_range(0, periods=30, freq="1h20min")
print("For a frequency of 1 hours 20 minutes:\n")
print(ser)

For a frequency of 1 hours 20 minutes:

TimedeltaIndex(['0 days 00:00:00', '0 days 01:20:00', '0 days 02:40:00',
                '0 days 04:00:00', '0 days 05:20:00', '0 days 06:40:00',
                '0 days 08:00:00', '0 days 09:20:00', '0 days 10:40:00',
                '0 days 12:00:00', '0 days 13:20:00', '0 days 14:40:00',
                '0 days 16:00:00', '0 days 17:20:00', '0 days 18:40:00',
                '0 days 20:00:00', '0 days 21:20:00', '0 days 22:40:00',
                '1 days 00:00:00', '1 days 01:20:00', '1 days 02:40:00',
                '1 days 04:00:00', '1 days 05:20:00', '1 days 06:40:00',
                '1 days 08:00:00', '1 days 09:20:00', '1 days 10:40:00',
                '1 days 12:00:00', '1 days 13:20:00', '1 days 14:40:00'],
               dtype='timedelta64[ns]', freq='80min')

#### 17. Write a Pandas program to convert unix/epoch time to a regular time stamp in UTC. Also convert the said timestamp in to a given time zone.

In [60]:
unix_times = [1609459200, 1612137600, 1614556800]
a=pd.to_datetime(unix_times,utc=True)
b=pd.Series(s)
print(b)

0    2021-01-29
1    2021-02-26
2    2021-03-31
3    2021-04-30
4    2021-05-31
5    2021-06-30
6    2021-07-30
7    2021-08-31
8    2021-09-30
9    2021-10-29
10   2021-11-30
11   2021-12-31
dtype: datetime64[ns]

In [61]:
b.dt.tz_localize('Asia/Kolkata')

0    2021-01-29 00:00:00+05:30
1    2021-02-26 00:00:00+05:30
2    2021-03-31 00:00:00+05:30
3    2021-04-30 00:00:00+05:30
4    2021-05-31 00:00:00+05:30
5    2021-06-30 00:00:00+05:30
6    2021-07-30 00:00:00+05:30
7    2021-08-31 00:00:00+05:30
8    2021-09-30 00:00:00+05:30
9    2021-10-29 00:00:00+05:30
10   2021-11-30 00:00:00+05:30
11   2021-12-31 00:00:00+05:30
dtype: datetime64[ns, Asia/Kolkata]

#### 18. Write a Pandas program to create a time series object with a time zone.

In [63]:
t=pd.date_range(start='2023-10-12',periods=20, freq='D', tz='Asia/Kolkata' )
t=pd.to_datetime(t)
pd.Series(t)

0    2023-10-12 00:00:00+05:30
1    2023-10-13 00:00:00+05:30
2    2023-10-14 00:00:00+05:30
3    2023-10-15 00:00:00+05:30
4    2023-10-16 00:00:00+05:30
5    2023-10-17 00:00:00+05:30
6    2023-10-18 00:00:00+05:30
7    2023-10-19 00:00:00+05:30
8    2023-10-20 00:00:00+05:30
9    2023-10-21 00:00:00+05:30
10   2023-10-22 00:00:00+05:30
11   2023-10-23 00:00:00+05:30
12   2023-10-24 00:00:00+05:30
13   2023-10-25 00:00:00+05:30
14   2023-10-26 00:00:00+05:30
15   2023-10-27 00:00:00+05:30
16   2023-10-28 00:00:00+05:30
17   2023-10-29 00:00:00+05:30
18   2023-10-30 00:00:00+05:30
19   2023-10-31 00:00:00+05:30
dtype: datetime64[ns, Asia/Kolkata]

#### 19. Write a Pandas program to remove the time zone information from a Time series data.

In [65]:
t=pd.date_range(start='2023-10-12',periods=20, freq='D', tz='Asia/Kolkata' )
ds=pd.Series(t)
ds.dt.tz_localize(None)

0    2023-10-12
1    2023-10-13
2    2023-10-14
3    2023-10-15
4    2023-10-16
5    2023-10-17
6    2023-10-18
7    2023-10-19
8    2023-10-20
9    2023-10-21
10   2023-10-22
11   2023-10-23
12   2023-10-24
13   2023-10-25
14   2023-10-26
15   2023-10-27
16   2023-10-28
17   2023-10-29
18   2023-10-30
19   2023-10-31
dtype: datetime64[ns]

#### 20. Write a Pandas program to subtract two timestamps of same time zone or different time zone.

In [67]:
t1=pd.Timestamp('2023-03-31',tz='Asia/Kolkata')
t2=pd.Timestamp('2023-05-24',tz='Asia/Kolkata')
t3=pd.Timestamp('2023-07-21',tz='Europe/Berlin')
print(t2-t1)

54 days 00:00:00

In [68]:
print(t3.tz_localize(None)-t1.tz_localize(None))

112 days 00:00:00

#### 21. Write a Pandas program to calculate all Thursdays between two given days.

In [70]:
# t1=pd.Timestamp('2023-08-01')
# t2=pd.Timesra('2023-05-02')
pd.date_range('2023-05-02', '2023-08-01', freq = 'W-Thu')

DatetimeIndex(['2023-05-04', '2023-05-11', '2023-05-18', '2023-05-25',
               '2023-06-01', '2023-06-08', '2023-06-15', '2023-06-22',
               '2023-06-29', '2023-07-06', '2023-07-13', '2023-07-20',
               '2023-07-27'],
              dtype='datetime64[ns]', freq='W-THU')

#### 22. Write a Pandas program to find the all the business quarterly begin and end dates of a specified year.

In [72]:
print("the beggining business day date of all quarters of 2024 are--------------------------> ")
start = pd.date_range('2024-01-01', periods = 4, freq = 'BQS')
end = pd.date_range('2024-01-01', periods = 4, freq = 'BQE')
for i in range(4):
    print(f"Quarter {i}: {start[i]} - {end[i]}")

the beggining business day date of all quarters of 2024 are-------------------------->
Quarter 0: 2024-01-01 00:00:00 - 2024-03-29 00:00:00
Quarter 1: 2024-04-01 00:00:00 - 2024-06-28 00:00:00
Quarter 2: 2024-07-01 00:00:00 - 2024-09-30 00:00:00
Quarter 3: 2024-10-01 00:00:00 - 2024-12-31 00:00:00

#### 23. Write a Pandas program to generate sequences of fixed-frequency dates and time spans intervals.

In [74]:
print("Sequences of fixed-frequency dates and time spans (1 H):\n")
r1 = pd.date_range('2030-01-01', periods=10, freq='h')
print(r1)
print("\nSequences of fixed-frequency dates and time spans (3 H):\n")
r2 = pd.date_range('2030-01-01', periods=10, freq='3h')
print(r2)

Sequences of fixed-frequency dates and time spans (1 H):

DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 01:00:00',
               '2030-01-01 02:00:00', '2030-01-01 03:00:00',
               '2030-01-01 04:00:00', '2030-01-01 05:00:00',
               '2030-01-01 06:00:00', '2030-01-01 07:00:00',
               '2030-01-01 08:00:00', '2030-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='h')

Sequences of fixed-frequency dates and time spans (3 H):

DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 03:00:00',
               '2030-01-01 06:00:00', '2030-01-01 09:00:00',
               '2030-01-01 12:00:00', '2030-01-01 15:00:00',
               '2030-01-01 18:00:00', '2030-01-01 21:00:00',
               '2030-01-02 00:00:00', '2030-01-02 03:00:00'],
              dtype='datetime64[ns]', freq='3h')

#### 24. Write a Pandas program to generate time series combining day and intraday offsets intervals.

In [76]:
dateset = pd.date_range('2029-01-01 00:00:00', periods=20, freq='1D10min20s')
print("Time series with frequency 1 day 10 minutes and 20 seconds:")
print(dateset)

Time series with frequency 1 day 10 minutes and 20 seconds:
DatetimeIndex(['2029-01-01 00:00:00', '2029-01-02 00:10:20',
               '2029-01-03 00:20:40', '2029-01-04 00:31:00',
               '2029-01-05 00:41:20', '2029-01-06 00:51:40',
               '2029-01-07 01:02:00', '2029-01-08 01:12:20',
               '2029-01-09 01:22:40', '2029-01-10 01:33:00',
               '2029-01-11 01:43:20', '2029-01-12 01:53:40',
               '2029-01-13 02:04:00', '2029-01-14 02:14:20',
               '2029-01-15 02:24:40', '2029-01-16 02:35:00',
               '2029-01-17 02:45:20', '2029-01-18 02:55:40',
               '2029-01-19 03:06:00', '2029-01-20 03:16:20'],
              dtype='datetime64[ns]', freq='87020s')

#### 25. Write a Pandas program to extract the day name from a specified date. Add 2 days and 1 business day with the specified date.

In [78]:
print("extracting the day name from specified date:-")
# dateset is defined in above code
x = dateset[1]
x.day_name()

extracting the day name from specified date:-

'Tuesday'

In [79]:
# adding two days
x = x + pd.Timedelta('2 days')
x.day_name()

'Thursday'

In [80]:
y = x + pd.offsets.BDay()
y.day_name()

'Friday'

#### 26. Write a Pandas program to convert integer or float epoch times to Timestamp and DatetimeIndex.

In [82]:
dates = pd.to_datetime([1329806505, 129806505, 1249892905, 1249979305, 1250065705], unit='s')

In [83]:
dates

DatetimeIndex(['2012-02-21 06:41:45', '1974-02-11 09:21:45',
               '2009-08-10 08:28:25', '2009-08-11 08:28:25',
               '2009-08-12 08:28:25'],
              dtype='datetime64[ns]', freq=None)

#### 27. Write a Pandas program to calculate one, two, three business day(s) from a specified date. Also find the next business month end from a specific date.

In [92]:
a = pd.Timestamp(22-10-2024)
a

Timestamp('1969-12-31 23:59:59.999997988')

In [86]:
a1 = a + pd.offsets.BDay()
a2 = a + pd.offsets.BDay(2)
a3 = a + pd.offsets.BDay(3)
print(f"one business day from today - {a1.date()} \n two business day from today - {a2.date()} \n three business day from today - {a3.date()} \n ")

one business day from today - 1970-01-01
 two business day from today - 1970-01-02
 three business day from today - 1970-01-05

In [94]:
a4 = a+pd.offsets.BMonthBegin()
print(a, "the next bussiness month from specific date is :" , a4, sep = "\n")

1969-12-31 23:59:59.999997988
the next bussiness month from specific date is :
1970-01-01 23:59:59.999997988

#### 28. Write a Pandas program to create a period index represent all monthly boundaries of a given year. Also print start and end time for each period object in the said index.

In [121]:
x = pd.period_range("2024-01-01", periods = 12, freq = 'M')

In [123]:
print(x)

PeriodIndex(['2024-01', '2024-02', '2024-03', '2024-04', '2024-05', '2024-06',
             '2024-07', '2024-08', '2024-09', '2024-10', '2024-11', '2024-12'],
            dtype='period[M]')

In [131]:
for d in x: 
    print (f"Starting and ending time of {d}:- {d.start_time} -  {d.end_time}\n")

Starting and ending time of 2024-01:- 2024-01-01 00:00:00 -  2024-01-31 23:59:59.999999999

Starting and ending time of 2024-02:- 2024-02-01 00:00:00 -  2024-02-29 23:59:59.999999999

Starting and ending time of 2024-03:- 2024-03-01 00:00:00 -  2024-03-31 23:59:59.999999999

Starting and ending time of 2024-04:- 2024-04-01 00:00:00 -  2024-04-30 23:59:59.999999999

Starting and ending time of 2024-05:- 2024-05-01 00:00:00 -  2024-05-31 23:59:59.999999999

Starting and ending time of 2024-06:- 2024-06-01 00:00:00 -  2024-06-30 23:59:59.999999999

Starting and ending time of 2024-07:- 2024-07-01 00:00:00 -  2024-07-31 23:59:59.999999999

Starting and ending time of 2024-08:- 2024-08-01 00:00:00 -  2024-08-31 23:59:59.999999999

Starting and ending time of 2024-09:- 2024-09-01 00:00:00 -  2024-09-30 23:59:59.999999999

Starting and ending time of 2024-10:- 2024-10-01 00:00:00 -  2024-10-31 23:59:59.999999999

Starting and ending time of 2024-11:- 2024-11-01 00:00:00 -  2024-11-30 23:59:59.999999999

Starting and ending time of 2024-12:- 2024-12-01 00:00:00 -  2024-12-31 23:59:59.999999999

#### 29. Write a Pandas program create a series with a PeriodIndex which represents all the calendar month periods in 2029 and 2031. Also print the values for all periods in 2030.
Note: PeriodIndex is an immutable ndarray holding ordinal values indicating
regular periods in time such as particular years, quarters, months, etc.

In [134]:
y = pd.Series(np.random.randn(36), pd.period_range('1/1/2029', '12/31/2031', freq='M'))

In [138]:
print(y)

2029-01   -0.910903
2029-02   -0.156329
2029-03    2.431813
2029-04    0.380322
2029-05   -1.240267
2029-06    1.045174
2029-07    1.840212
2029-08    1.237667
2029-09   -1.157445
2029-10    0.892050
2029-11    0.200037
2029-12   -0.156597
2030-01   -0.026747
2030-02   -1.322658
2030-03    0.037123
2030-04   -0.093794
2030-05    0.433074
2030-06   -0.474950
2030-07   -0.236360
2030-08    1.960036
2030-09   -0.072836
2030-10   -1.782198
2030-11    0.043822
2030-12   -0.444713
2031-01    0.031173
2031-02    0.702586
2031-03    1.449943
2031-04   -0.433487
2031-05    1.465311
2031-06    0.189902
2031-07   -1.622517
2031-08    0.054547
2031-09    0.983621
2031-10   -1.203460
2031-11    0.159800
2031-12   -0.173721
Freq: M, dtype: float64

In [140]:
print(y['2030'])

2030-01   -0.026747
2030-02   -1.322658
2030-03    0.037123
2030-04   -0.093794
2030-05    0.433074
2030-06   -0.474950
2030-07   -0.236360
2030-08    1.960036
2030-09   -0.072836
2030-10   -1.782198
2030-11    0.043822
2030-12   -0.444713
Freq: M, dtype: float64

#### 30. Write a Pandas program to generate holidays between two dates using the US federal holiday calendar.

In [166]:
from pandas.tseries.holiday import *
sdt = datetime(2024, 1, 1)
edt = datetime(2025, 12, 31)
print("Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.")
cal = pd.tseries.holiday.USFederalHolidayCalendar()
for dt in cal.holidays(start=sdt, end=edt): 
    print (dt)

Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.
2024-01-01 00:00:00
2024-01-15 00:00:00
2024-02-19 00:00:00
2024-05-27 00:00:00
2024-06-19 00:00:00
2024-07-04 00:00:00
2024-09-02 00:00:00
2024-10-14 00:00:00
2024-11-11 00:00:00
2024-11-28 00:00:00
2024-12-25 00:00:00
2025-01-01 00:00:00
2025-01-20 00:00:00
2025-02-17 00:00:00
2025-05-26 00:00:00
2025-06-19 00:00:00
2025-07-04 00:00:00
2025-09-01 00:00:00
2025-10-13 00:00:00
2025-11-11 00:00:00
2025-11-27 00:00:00
2025-12-25 00:00:00

#### 31. Write a Pandas program to create a monthly time period and display the list of names in the current local scope.

In [169]:
mtp = pd.Period('2021-11','M')
print("Monthly time perid: ",mtp)
print("\nList of names in the current local scope:")
print(dir(mtp))

Monthly time perid:  2021-11

List of names in the current local scope:
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_cython__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__setstate_cython__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']

#### 32. Write a Pandas program to create a yearly time period from a specified year and display the properties of this period.

In [174]:
ytp = pd.Period('2020','Y-DEC')
print("Yearly time perid:",ytp)
print("\nAll the properties of the said period:")
print(dir(ytp))

Yearly time perid: 2020

All the properties of the said period:
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_cython__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__setstate_cython__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']