#### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
import pandas as pd
import numpy as np

In [9]:
a = pd.Series(data = [3,5,7,3,4,56,7,8])
a

0     3
1     5
2     7
3     3
4     4
5    56
6     7
7     8
dtype: int64

#### 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [12]:
b = a.to_list()
b

[3, 5, 7, 3, 4, 56, 7, 8]

#### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [28]:
a = pd.Series([2, 4, 6, 8, 10])
b = pd.Series([1, 3, 5, 7, 9])
print("addition------------->\n", a + b)
print("subtract------------->\n", a-b)
print("mulriple------------->\n", a * b)
print("divide------------->\n", a/b)

addition------------->
 0     3
1     7
2    11
3    15
4    19
dtype: int64
subtract------------->
 0    1
1    1
2    1
3    1
4    1
dtype: int64
mulriple------------->
 0     2
1    12
2    30
3    56
4    90
dtype: int64
divide------------->
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

#### 4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [33]:
a = pd.Series([2, 4, 6, 8, 10])
b = pd.Series([1, 3, 5, 7, 10])
print(a>b)

0     True
1     True
2     True
3     True
4    False
dtype: bool

#### 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [46]:
a = pd.Series({'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800})
print("converted panda series\n", a, sep = "")

converted panda series
a    100
b    200
c    300
d    400
e    800
dtype: int64

#### 6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [51]:
a = np.array([10,20,30,40,50])
b = pd.Series(data = a)
b

0    10
1    20
2    30
3    40
4    50
dtype: int32

#### 7. Write a Pandas program to change the data type of given a column or a Series.

In [97]:
a = pd.Series([100,200,'Python',300.12,400])
b = pd.to_numeric(a, errors = 'coerce', downcast = 'float')
b

0    100.000000
1    200.000000
2           NaN
3    300.119995
4    400.000000
dtype: float32

#### 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [127]:
a = pd.DataFrame({'col1' : [1,2,3,4,7,11], 'col2': [4,5,6,9,5,0], 'col3': [7,5,8,12,1,11]})
print("1st column as a Series:\n", a['col1'], sep = "")

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

#### 9. Write a Pandas program to convert a given Series to an array.

In [142]:
a = pd.Series([100,200,'Python',300.12,400])
b = a.to_numpy()
print(b)

[100 200 'Python' 300.12 400]

#### 10. Write a Pandas program to convert Series of lists to one Series.

In [185]:
a = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])
print(a, "\n\n")
x = []
for i in a:
    x.extend(i)
a = pd.Series(x)
print(a)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object


0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

#### 11. Write a Pandas program to sort a given Series.

In [179]:
a = pd.Series([100,200,'Python',300.12,400], dtype = 'str')
a.sort_values()

0       100
1       200
3    300.12
4       400
2    Python
dtype: object

#### 12. Write a Pandas program to add some data to an existing Series.

In [201]:
a = pd.Series([100,200,'Python',300.12,400], dtype = 'object')
a = pd.concat([a,pd.Series(500)], ignore_index = True)
a

0       100
1       200
2    Python
3    300.12
4       400
5       500
dtype: object

#### 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [216]:
a = pd.Series(np.arange(0,11))
a

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int32

#### 14. Write a Pandas program to change the order of index of a given series.

In [237]:
a=pd.Series([1,2,3,4,5],index=['A','B','C','D','E'])
a = a.reindex(['B','A','C','D','E'])
a

B    2
A    1
C    3
D    4
E    5
dtype: int64

#### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [251]:
a=pd.Series([1,2,3,4,5,6,7,8,3])
print("Mean :",a.mean())
print("Standard Deviaton :",a.std())

Mean : 4.333333333333333
Standard Deviaton : 2.345207879911715

#### 16. Write a Pandas program to get the items of a given series not present in another given series.

In [313]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([2,4,6,8,10])
x = ~a.isin(b)
print(a[x])

0    1
2    3
4    5
dtype: int64

#### 17. Write a Pandas program to get the items which are not common of two given series.

In [338]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([2,4,6,8,10])
x=~a.isin(b)
y=~b.isin(a)
print(pd.concat([a[x],b[y]], ignore_index=True))

0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64

#### 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [360]:
a=pd.Series([3.000938,11.370722,14.612143])
print("Min: ",a.min(), "\n25th percentile: ",a.quantile(0.25))
print("Median: ",a.median())
print("75th percentile: ",a.quantile(0.75), "\nMax:",a.max())

Min:  3.000938
25th percentile:  7.18583
Median:  11.370722
75th percentile:  12.9914325
Max: 14.612143

#### 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [377]:
a=pd.Series([1, 7, 1, 6, 0, 4, 8, 7, 1, 0, 6, 4, 5, 3, 3, 2, 1, 0, 6, 8,
        2, 2, 1, 0, 4, 3, 6, 7, 8, 0, 1, 2, 1, 7, 1, 0, 4, 4, 8, 0])
print(a.value_counts())

1    8
0    7
4    5
7    4
6    4
8    4
2    4
3    3
5    1
Name: count, dtype: int64

#### 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [410]:
a=pd.Series([1, 7, 1, 6, 0, 4, 8, 7, 1, 0, 6, 4, 5, 3, 3, 2, 1, 0, 6, 8,
        2, 2, 1, 0, 4, 3, 6, 7, 8, 0, 1, 2, 1, 7, 1, 0, 4, 4, 8, 0])
freq = a.value_counts()
maxi = freq.idxmax()
print(maxi)
a = a.where(a == maxi ,'Other')
a

1

0         1
1     Other
2         1
3     Other
4     Other
5     Other
6     Other
7     Other
8         1
9     Other
10    Other
11    Other
12    Other
13    Other
14    Other
15    Other
16        1
17    Other
18    Other
19    Other
20    Other
21    Other
22        1
23    Other
24    Other
25    Other
26    Other
27    Other
28    Other
29    Other
30        1
31    Other
32        1
33    Other
34        1
35    Other
36    Other
37    Other
38    Other
39    Other
dtype: object

#### 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of agiven series.

In [429]:
a = pd.Series(data = [1,9,8,6,9,7,1,1,1])
print("Positions of numbers that are multiples of 5:", a[a % 5 == 0].index)

Positions of numbers that are multiples of 5: Index([], dtype='int64')

#### 22. Write a Pandas program to extract items at given positions of a given series.

In [476]:
a = pd.Series(data = [1,9,8,6,9,7,8,43,21,54,43,65,43,1,2,3,6,8,3,5,67,8,12,67,23,67,98,43])
index = [0,6,2,11,21]
a.loc[index]

0      1
6      8
2      8
11    65
21     8
dtype: int64

#### 23. Write a Pandas program to get the positions of items of a given series in another given series.

In [478]:
a = pd.Series([1,2,3,4,5,6,7,8,9,10])
b = pd.Series([1,3,5,7,10])
position = np.where(a.isin(b))
position

(array([0, 2, 4, 6, 9], dtype=int64),)

#### 24. Write a Pandas program convert the first and last character of each word to uppercase in each word of a given series.

In [544]:
a = pd.Series(['php', 'c#', 'java', 'python', ''])

In [558]:
for i,v in enumerate(a):
    if len(v) == 0:
        continue
    x = v[0].upper()
    b = v[-1].upper()
    if len(v)>1:
        a[i] = x+v[1:-1]+b
    elif len(v) == 1:
        a[i] = x


print(a)

0       PhP
1        C#
2      JavA
3    PythoN
4
dtype: object

#### 25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [570]:
a = pd.Series(['php', 'c#', 'java', 'python', ''])
# x = []
# for i in a:
#     x.append(len(i))

# print(pd.Series(x))
a.apply(len)

0    3
1    2
2    4
3    6
4    0
dtype: int64

#### 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [645]:

a = pd.Series([1,3,5,8,10,11,15])
a = a.rolling(window = 2).apply(lambda x: x.iloc[1] -x.iloc[0])
a = a.rolling(window = 2).apply(lambda x: x.iloc[1] -x.iloc[0])
a

0    NaN
1    NaN
2    0.0
3    1.0
4   -1.0
5   -1.0
6    3.0
dtype: float64

#### 27. Write a Pandas program to convert a series of date strings to a timeseries.

In [657]:
a = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06','2016-04-12','2019-04-06T11:20'])

In [660]:
a

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

In [676]:
a = a.apply(pd.to_datetime)
print(a)

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

#### 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [749]:

day_of_months = (a.dt.day)
day_of_weeks = (a.dt.day_name())
day_of_year = (a.dt.day_of_year)
week_number = (a.dt.isocalendar().week)

In [751]:
print("\nday_of_months:\n", day_of_months.to_list(), "\nday_of_weeks:\n", day_of_weeks.to_list(), "\nday_of_year:\n", day_of_year.to_list(),"\nweek_number :",  week_number.to_list())

day_of_months:
 [1, 2, 7, 6, 12, 6]
day_of_weeks:
 ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']
day_of_year:
 [1, 276, 66, 126, 103, 96]
week_number : [1, 39, 10, 19, 15, 14]

#### 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [771]:
a = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
a = a + ' 11'
a = pd.to_datetime(a)
print(a)

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

#### 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [782]:
a = pd.Series(["Red", "Green", "Orange", "Pink", "Yellow", "White"])
vowels = 'aeiouAEIOU'
b = a.apply(lambda x: sum(1 for char in x if char in vowels))
print(a[b>1])

1     Green
2    Orange
4    Yellow
5     White
dtype: object

#### 31. Write a Pandas program to compute the Euclidean distance between two given series.
Euclidean distance
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line
distance between two points in Euclidean space. With this distance, Euclidean space
becomes a metric space. The associated norm is called the Euclidean norm.

In [801]:
a = pd.Series(np.arange(1,11))
b = pd.Series([11,8,7,5,6,5,3,4,7,1])
euclead  = ((b - a)**2)
print(np.sqrt(sum(euclead)))

16.492422502470642

#### 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

In [845]:
a = pd.Series([1,8,7,5,6,5,3,4,7,1])
a = a.rolling(window = 3, center = True).apply(lambda x: x.iloc[0]<x.iloc[1]>x.iloc[2])

In [853]:
x = []
for i, v in enumerate(a):
    if v == 1:
        x.append(i)
x

[1, 4, 8]

#### 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

In [904]:
b = "abc def abcdef icd"
a = pd.Series(list(b))
x = a.value_counts()
x = x.idxmin()
a = a.replace(" ", x)
print("".join(a))

abcidefiabcdefiicd

#### 34. Write a Pandas program to compute the autocorrelations of a given numeric series.

In [1026]:

import pandas as pd
from statsmodels.tsa.stattools import acf

# Original Series
data = pd.Series([13.207262, 4.098685, -1.435534, 13.626760, 3.039309, 
                  6.598823, 11.200205, 1.519816, 9.392151, -2.346193, 
                  17.873884])

# Compute autocorrelations for multiple lags (up to 10 lags)
autocorrelations = acf(data, nlags=10)

#### 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

In [948]:
sundays = pd.Series(pd.date_range(start='2019-01-01', end='2019-12-31', freq='W-SUN'))

In [950]:
sundays

0    2019-01-06
1    2019-01-13
2    2019-01-20
3    2019-01-27
4    2019-02-03
5    2019-02-10
6    2019-02-17
7    2019-02-24
8    2019-03-03
9    2019-03-10
10   2019-03-17
11   2019-03-24
12   2019-03-31
13   2019-04-07
14   2019-04-14
15   2019-04-21
16   2019-04-28
17   2019-05-05
18   2019-05-12
19   2019-05-19
20   2019-05-26
21   2019-06-02
22   2019-06-09
23   2019-06-16
24   2019-06-23
25   2019-06-30
26   2019-07-07
27   2019-07-14
28   2019-07-21
29   2019-07-28
30   2019-08-04
31   2019-08-11
32   2019-08-18
33   2019-08-25
34   2019-09-01
35   2019-09-08
36   2019-09-15
37   2019-09-22
38   2019-09-29
39   2019-10-06
40   2019-10-13
41   2019-10-20
42   2019-10-27
43   2019-11-03
44   2019-11-10
45   2019-11-17
46   2019-11-24
47   2019-12-01
48   2019-12-08
49   2019-12-15
50   2019-12-22
51   2019-12-29
dtype: datetime64[ns]

#### 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

In [967]:
a = pd.Series(np.arange(0,5), index = ['A', 'B', 'C', 'D', 'F'])
b = pd.DataFrame(a).reset_index()
b

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     F  4

#### 37. Write a Pandas program to stack two given series vertically and horizontally.

In [978]:
a = pd.Series(np.arange(0,10))
b = pd.Series(data = ['p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y'])
print("stacked horizontally")
print(pd.concat([a,b], axis = 0))
print("stacked vertically")
print(pd.concat([a,b], axis = 1))

stacked horizontally
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object
stacked vertically
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

#### 38. Write a Pandas program to check the equality of two given series.

In [985]:
a = pd.Series(np.random.randint(1,10,10))
b = pd.Series(np.random.randint(1,10,10))
print(a == b)

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
dtype: bool

In [987]:
print(all(a == b))

False

#### 39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

In [990]:
a = pd.Series(np.random.randint(1,10,20))
a

0     8
1     5
2     9
3     2
4     1
5     1
6     1
7     5
8     4
9     5
10    9
11    2
12    1
13    2
14    7
15    5
16    6
17    9
18    2
19    7
dtype: int32

In [998]:
print("index of max:" , a.idxmax() , "\nindex of min:", a.idxmin())

index of max: 2
index of min: 4

#### 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

In [1011]:
data = {
    'W': [68.0, 75.0, 86.0, 80.0, np.nan],
    'X': [78.0, 75.0, np.nan, 80.0, 86.0],
    'Y': [84, 94, 89, 86, 86],
    'Z': [86, 97, 96, 72, 83]
}

df = pd.DataFrame(data)
a = pd.Series([68.0, 75.0, 86.0, 80.0, np.nan])
df.ne(a, axis = 0)

       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True