## Series

In [2]:
import numpy as np
import pandas as pd

In [4]:
#Creating a series from a Python list
myindex=['USA','Canada','England']
mydata=[1776,1867,1821]

In [6]:
myser=pd.Series(data=mydata)
print(myser)

0    1776
1    1867
2    1821
dtype: int64

In [15]:
myser=pd.Series(data=mydata,index=myindex)
print(myser)

USA        1776
Canada     1867
England    1821
dtype: int64

In [39]:
#Creaitng a series from NumPy array
ran_data=np.random.randint(0,100,4)
print(ran_data)

[42 81  5 97]

In [41]:
names=['Alice','Bob','Charles','Dave']
ages=pd.Series(ran_data,names)
print(ages)

Alice      42
Bob        81
Charles     5
Dave       97
dtype: int32

In [49]:
ages={'Sammy':5,'Frank':10,'Spike':7}
print(ages)
print(pd.Series(ages))

{'Sammy': 5, 'Frank': 10, 'Spike': 7}
Sammy     5
Frank    10
Spike     7
dtype: int64

In [51]:
q1={'Japan':80, 'China':450, 'India': 200, "USA":250}
q2 = {'Brazil':100, 'China':500, 'India':200, 'USA':250}

In [53]:
#converting into panda series
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
print(sales_q1)

Japan     80
China    450
India    200
USA      250
dtype: int64

In [55]:
print(sales_q1['Japan'])

80

In [57]:
print(sales_q1[0])

80

C:\Users\DAI.STUDENTSDC\AppData\Local\Temp\ipykernel_20152\2680012996.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sales_q1[0])

In [63]:
#Can perform Operations Broadcasted across entire Series
print(sales_q1*2)
print(sales_q2/100)

Japan    160
China    900
India    400
USA      500
dtype: int64
Brazil    1.0
China     5.0
India     2.0
USA       2.5
dtype: float64

In [75]:
#For NaN
print(sales_q1+sales_q2)

Brazil      NaN
China     950.0
India     400.0
Japan       NaN
USA       500.0
dtype: float64

In [77]:
#fill NaN
print(sales_q1.add(sales_q2,fill_value=0))

Brazil    100.0
China     950.0
India     400.0
Japan      80.0
USA       500.0
dtype: float64

### converting panda series to list

In [9]:
import pandas as pd

In [11]:
a = pd.Series(data = ['ss','sd','fg','rt','hj'])
b = a.to_list()
b

['ss', 'sd', 'fg', 'rt', 'hj']

#### __pandas.to_numeric__
- pandas.to_numeric(arg, errors='raise', downcast=None, dtype_backend=<no_default>)
- errors{‘ignore’, ‘raise’, ‘coerce’}, default ‘raise’
- - If ‘raise’, then invalid parsing will raise an exception.

- - If ‘coerce’, then invalid parsing will be set as NaN.

- - If ‘ignore’, then invalid parsing will return the input.

- __dtype_backend__ : This parameter is new in Pandas 2.0 and allows specifying the "backend" dtype you want to use for the resulting numeric conversion. The purpose is to control whether to use NumPy dtypes (default) or the PyArrow dtypes, which can have better performance in some cases.

In [17]:
a = pd.Series([100,200,'Python',300.12,400])
b = pd.to_numeric(a, errors = 'coerce', downcast = 'integer')
b

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

### **pandas.Series.sort_values**
- Series.sort_values(*, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)
- if the dataty of initial series is object we will need to typecast it to __str__ for it to work

In [26]:
a = pd.Series([100,200,'Python',300.12,400], dtype = 'str')
a.sort_values()

0       100
1       200
3    300.12
4       400
2    Python
dtype: object

###  pandas.Series.reindex 
- Places NA/NaN in locations having no value in the previous index. A new object is produced unless the new index is equivalent to the current one and copy=False.
- Series.reindex(index=None, *, axis=None, method=None, copy=None, level=None, fill_value=None, limit=None, tolerance=None)

In [32]:
a=pd.Series([1,2,3,4,5],index=['A','B','C','D','E'])
a = a.reindex(['B','A','C','D','E'])
a

B    2
A    1
C    3
D    4
E    5
dtype: int64

### isin

In [ ]:
a=pd.Series([1,2,3,4,5])
b=pd.Series([2,4,6,8,10])
x = ~a.isin(b)
a[x]